
header#top {
	overflow: hidden;


/*  background-image: url('../img/horsens.jpg'); */
  background-size: 100% auto;
  background-position: center center;
  background-color: $brand-secondary;
}



body.user-logged-in .dialog-off-canvas-main-canvas {
	height: 100%;
	//margin-top: 45px;
}

section#driftmeddelelser {
	background-color: #ec022e;
}

#main-navigation {
  background-color: #fff;
  padding: 10px 0px;
}


#content_bottom {

}

.node-preview-container {
	position: relative;
	top: 0px;
}

footer#pagefooter {
	clear: both;
	position: relative;
	min-height: 300px;
	margin-top: 5px;
	padding: 10px 0;
	overflow: visible;
	background-color: $brand-secondary;

  * {
    color: #fff;
  }
}
